
*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    z-index: 1000;
    top: 0; left: 0; right: 0;
    border-bottom: .1rem solid #ffff;
    box-shadow: 0px 1px 20px 0px #ccd1d1;
}

.header .logo img{
    height: 6rem; 
}

.header .navbar a{
    font-family: 'Montserrat', sans-serif;
    margin:0 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #515a5a;
}

.header .icons a{
    cursor: pointer;
    margin-left: 1.4em;
}

.header .navbar a:hover{
    color: #3498db;
}

.header .icons .search img{
    height: 2.2rem;
}

.header .icons .cart img{
    height: 2.5rem;
}

.header .search-form{
    position: absolute;
    display: flex;
    top: 115%; right: 7%;
    color: #fff;
    width: 50rem;
    height: 5rem;
    align-items: center;
    transform-origin: top;
}